.idea/
*.orig
*.rej
*~
*.DS_Store
*.o
*.swp
*.log
*.pyc

.vscode/

node_modules/

.php_cs.cache

# Python, for the packaging on the CI
.venv
venv

# Tests
tests/.env
tests/lizmap/www/
tests/lizmap/var/
tests/lizmap/qgis-server-plugins/
tests/lizmap/cache-python
tests/lizmap/local-python
tests/sql/majic/*.sql
