<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="cadastre" name="cadastre" createdate="2016-07-07">
        <version date="2022-11-16">1.8.3-pre</version>
        <label lang="en_US">cadastre</label>
        <description lang="en_US" />
        <license URL="">Mozilla Public Licence (MPL)</license>
        <copyright>2017-2022 3liz</copyright>
        <creator name="3liz" email="info@3liz.com" active="true"/>
        <homepageURL>http://3liz.com</homepageURL>
    </info>
    <dependencies>
        <module name="lizmap" minversion="3.4.8" maxversion="3.6.*"/>
    </dependencies>
    <autoload>
        <class name="lizmapCadastreRequest" file="classes/lizmapCadastreRequest.class.php" />
        <class name="cadastreConfig" file="classes/cadastreConfig.class.php" />
        <class name="cadastreProfile" file="classes/cadastreProfile.class.php" />
    </autoload>
</module>
